body {
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	font-size: 90%;		  
	padding-top: 5px;
	padding-bottom: 40px;
}

#tabs
{
	font-family: Verdana,Arial,sans-serif;
	font-size: 1em;
	height:920px;
}

td.first{
color:#000000;
background-color:#D8D8D8;
}

a.first{
color: #8B0B1A; font-size:90%;
}

li.first{
color: #424242; font-size:85%;
}

th{
 text-align: left;
  font-weight: normal;
  font-size:13px;
  vertical-align: middle;
  background-color: #0B0B3B;
  color:#F2F2F2;
}

h2 {
text-shadow:2px 2px #FFFFFF;
}

.sidebar-nav {
	padding: 9px 0;
}

#map
{	
	height:600px;
	border:1px solid;
	border-radius:10px;	
	border-color:#888888;			
}	


#tooltip {
    
    display: block;
    background: transparent url(http://i.stack.imgur.com/srdeI.png) no-repeat -5px -12px;
	 background-color: #2b2b2b;
    position: relative;
    padding: 0px;
    border: 1px solid gray;
}
#panel
{
	height:600px;
}

#navbar
{
	margin-bottom: 0px;
	overflow: visible;
}	

label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}

input {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: middle;
    position: relative;
    top: -1px;
    *overflow: hidden;
}
