.starter-template 
{
  padding: 40px 15px;
  text-align: center;
}
.informationImage
{
	overflow:hidden;
}

.navbar-primary .navbar .nav .active > a, .navbar .nav .active > a:hover {
color: #000;
border-style: solid;
border-color: #888AC4;
}

.selectedTab
{
	color: #000;
	border-style: solid;
	border-color: #888AC4;
}

.container
{
	border-style:solid;
	border-color:#888AC4;
}

.bold 
{
	font-size: small;
	font-family: arial bold;
	margin: 0.1em;
}

.modalFooterSize
{
	height: 55px;
}

.paddingMargin
{
	margin-left:20px;
}

.right
{
	float:right;
}

.modal-footer {
margin-top: 15px;
padding: 9px 10px 10px;
text-align: right;
border-top: 1px solid #e5e5e5;
}

.modal-header {
background-color: #BDCCD4;
border-radius: 5px;
border-bottom-color: #000000;
}

.navbar-xs .navbar-primary .navbar {
min-height: 28px;
margin: 10px;
border-radius: 5px;
}

.navbar-xs .navbar-primary .navbar .navbar-brand {
padding: 8px 8px;
font-size: 16px;
font-family: arial bold;
line-height: 18px;
}

a:hover, a:focus
{
	color: #000;
	text-decoration: none;
}

a {
color: #000000;
text-decoration: none;
}

.mapsInstructionOne {
color: #000;
font-family: arial bold;
font-size: 0.9em;
line-height: 1;
margin-top: 5px;
}

.modal-title 
{
	margin: 0;
	line-height: 20%;
}

.btn-default {
color: #000;
background-color: #F2F5F6;
border-color: #A29898;
}

.btn-primary {
color: #000;
background-color: #BDCCD4;
border-color: #adadad;
font-family: arial bold;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
color: #000;
background-color: #F2F5F6;
border-color: #adadad;
font-family: arial bold;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
color: #000;
background-color: #BDCCD4;
border-color: #adadad;
FONT-family: arial bold;
}

.btn-default {
color: #000;
background-color: #F2F5F6;
border-color: #adadad;
font-family: arial bold;
}

.modal-header .close
 {
	margin-top: -10px;
}

.navbar-header
{
	height: 35px;
}

.modal-dialog
{
	width: 500px;
}

.modal-header
{
	height: 35px;
}

#object {
float: left;
margin-left: 5px;
}

.mapsInstruction
{
	width:195px;
}

.notesDiv
{
	border-bottom: 1px solid #aaa;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus 
{
	color: #000;
	background-color: transparent;
}

.modal-header 
{
	background-color: #BDCCD4;
}

.navbar-inverse 
{
	background-color: #2F3335;
	border-color: #080808;
	margin: 10px;
	border-radius: 5px;
}

.row 
{
	margin-left: -10px;
	margin-top: 5px;
	border-radius: 5px;
}

.navbar-inverse .navbar-brand 
{
	color: #FFF;
}

.width
{
	width: 370px;
}

.inputWidth
{
	width: 5px;
}

.hospitalLabelWidth
{
	font-family: arial bold;
}

#homeTabContainer 
{
	background-color: #8E999F;
}

#mapsTabContainer 
{
	background-color: #BDCCD4;
}

#analysisTabContainer 
{
	background-color: #D7E0E5;
}

#partnersTabContainer 
{
	background-color: #E5EBEE;
}

#languageContainer 
{
	background-color: #FFFFFF;
}

.navbarItem
{
	border:0px;
	border-radius:4px;	
}

.navbar-inverse .navbar-nav>li>a {
	color: #000;
	font-family: arial bold;
}

.navbar-nav>li>a 
{
	padding-bottom: 15px;	
}

.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th 
{
	background-color: #323549;
	color: #FFFFFF;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td 
{
	padding: 1px;
}

.navbar-inverse .navbar-link 
{
	color: #000;
}

.navbar-inverse .navbar-link:hover
{
	color: #000;
}

.nav>li 
{
	margin-left: 5px;
}

.alert-success 
{
	background-color: #BDCCD4;
	border-color: #000000;
	color: #000000;
	line-height:2;
}

.alert {
padding: 3px;
margin-bottom: 20px;
border: 1px solid transparent;
border-radius: 4px;
border-color: #000000;
}

body 
{
  	padding-top: 50px;
  	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	padding-top: 0px;
	padding-bottom:0px;
}

.esriPopup .sizer 
{
    width: 390px;
}


.esriPopup .contentPane {
position: relative;
max-height: 300px;
overflow: auto;
padding: 10px 6px 6px 10px;
background-color: #F7F7F7;
border: 1px solid #999999;
border-top: none;
border-bottom: none;
color: #333333;
font-size: x-small;
}

.esriPopup .titlePane 
{
background-color: #2F3335;
color: #FFFFFF;
line-height: 40px;
padding-left: 6px;
border-radius: 5px 5px 0px 0px;
-moz-border-radius: 5px 5px 0px 0px;
-webkit-border-radius: 5px 5px 0px 0px;
-o-border-radius: 5px 5px 0px 0px;
cursor: default;
border: 1px solid #BEB7B7;
border-bottom: none;
height: 40px;
}

.esriPopup 
{
    position: absolute;
    z-index: 40;
    box-shadow: 0 0 0.75em #777777;
    -moz-box-shadow: 0 0 0.75em #777777;
    -webkit-box-shadow: 0 0 0.75em #777777;
    -o-box-shadow: 0 0 0.75em #777777;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
}

.esriPopup a 
{
	color: #F15A24;
	text-decoration: underline;
}

.esriPopup .esriPopupWrapper 
{
    box-shadow: 0 0 0.75em #777777;
    -moz-box-shadow: 0 0 0.75em #777777;
    -webkit-box-shadow: 0 0 0.75em #777777;
    -o-box-shadow: 0 0 0.75em #777777;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
	font-size:0.9em;
}


td.first
{
	color:#000000;
	background-color:#D8D8D8;
}

a.first
{
	color: #8B0B1A; font-size:90%;
}

li.first
{
	color: #424242; font-size:85%;
}

th
{
	text-align: left;
	font-weight: normal;
	font-size:13px;
	vertical-align: middle;
	background-color: #0B0B3B;
	color:#F2F2F2;
}

h2 
{
	text-shadow:2px 2px #FFFFFF;
}

.sidebar-nav 
{
	padding: 9px 0;
}

#navbar
{
	margin-bottom: 0px;
	overflow: visible;
}

#map 
{
	position: relative;
	top: 0px;
	border: 1px solid;
	border-radius: 10px;
	border-style: solid;
	border-color: #888AC4;
	border-width: 3px;
}	

#tooltip 
{    
    display: block;
    background: transparent url(http://i.stack.imgur.com/srdeI.png) no-repeat -5px -12px;
	background-color: #2b2b2b;
    position: relative;
    padding: 0px;
    border: 1px solid gray;
}

#tabs 
{
	font-family: Verdana,Arial,sans-serif;
	height: 100%
}

#hospitalLegendList
{
	font-size: 17px;
	font-family:arial bold;
	border-color: #D8D7D7;
	border-width:1px;
	border-radius: 5px;
	padding:5px;
}

label 
{
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}

input 
{
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: middle;
    position: relative;
    top: -1px;
    *overflow: hidden;
}

.grayFont
{
	color:gray;
}


.blueFont
{
	color:#A9BCF5;
}

.redFont
{
	color:#FE642E;
}

.smallFont
{
	font-size: 0.8em;
}

.mediumFont
{
	font-size: 1em;
}

.smallIcon
{
	height:25px;
	width:25px;
}

#legendList {
padding: 1em;
border-color: #D8D7D7;
border-width: 1px;
border-radius: 5px;
width: 195px;
}
.cursorStyle
{
	cursor:move;
}

.alert>p, .alert>ul {
font-family: arial bold;
font-size: 1.2em;
margin: -5px;
}

#legendTitle {
color: #000;
font-family: arial bold;
border-bottom-color: #000;
border-top-color: #C4C4C4;
border-right-color: #C4C4C4;
border-left-color: #C4C4C4;
border-bottom-width: 2px;
padding:3px;
}

#layerLegendList
{
	border-color: #FFFFFF;
	border-width: 1px;
	background-color:#E0E0FF;
	
}

.modal-content {
position: relative;
background-color: #F2F5F6;
border: 1px solid #999;
border: 1px solid rgba(0,0,0,.2);
border-radius: 6px;
-webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
box-shadow: 0 3px 9px rgba(0,0,0,.5);
background-clip: padding-box;
outline: 0;
}

.esriSimpleSliderHomeButton
{
      border-bottom: 2px solid #666666;
      background-image: url(../dijit/images/home.png);
      background-repeat:no-repeat;
      background-position:center; 
    }
	
.legendColorRect
{
	width:10px;
	height:10px;
	border:1px solid #000;
}

.legendCellText
{
	border:1px solid #000;
}

.esriLargeSliderTicks 
{ 
	display: none; 
}

.hidden
{
	display: none;
}

.shown
{
	display: inline-block;
}

.legendLabel
{
	font-size: 1.2em;
	color:#000000;
}

a.methodologicalNote
{
	color:#F15A24;
	float:right;
}

.navbar-nav {
float: left;
margin: 0;
font-family: arial bold;
}

div.transbox
  {
  background-color:#F2F5F6;
  border:1px solid white;
  box-shadow: 5px 5px 5px #888888;
  opacity:0.7;
  filter:alpha(opacity=70); /* For IE8 and earlier */
 }

.navbar-toggle {
position: relative;
float: right;
margin-right: 15px;
padding: 9px 10px;
margin-top: 8px;
margin-bottom: 8px;
background-color: transparent;
background-image: url('toggle.jpg');
border: 2px solid white;
border-radius: 4px;
}

input, button, select, textarea {
font-family: inherit;
font-size: inherit;
line-height: inherit;
}

 
 .navbar-primary .navbar { background:#2f3335; border-bottom:none; }
.navbar-primary .navbar .nav > li > a {color: #000000;}
.navbar-primary .navbar .nav > li > a {color: #000000;}
.navbar-primary .navbar .nav > li > a:hover {color: #000;}
.navbar-primary .navbar .nav .active > a,.navbar .nav .active > a:hover {color:#000;}
.navbar-primary .navbar .nav li > a .caret, .tnav .navbar .nav li > a:hover .caret {border-top-color: #fff;border-bottom-color: #fff;}
.navbar-primary .navbar .nav > li.dropdown.open.active > a:hover,
.navbar-primary .navbar .nav > li.dropdown.open > a {color: #fff;border-color: #fff;}
.navbar-primary .navbar .nav > li.dropdown.open.active > a:hover .caret, .tnav .navbar    .nav > li.dropdown.open > a .caret {border-top-color: #fff;}
.navbar-primary .navbar .navbar-brand {color:#fff;}
.navbar-primary .navbar .nav.pull-right {margin-left: 10px;margin-right: 0;}
.navbar-xs .navbar-primary .navbar { min-height:28px; } 
.navbar-xs .navbar-primary .navbar .navbar-brand{ padding: 8px 8px;font-size: 16px;line-height: 18px; } 
.navbar-xs .navbar-primary .navbar .navbar-nav > li > a {  padding-top: 7px; padding-bottom: 7px; line-height: 20px; } 
.navbar-sm .navbar-primary .navbar { min-height:40px; } 
.navbar-sm .navbar-primary .navbar .navbar-brand{ padding: 12px 12px;font-size: 16px;line-height: 18px; } 
.navbar-sm .navbar-primary .navbar .navbar-nav > li > a {  padding-top: 12px; padding-bottom: 12px; line-height: 20px; }
