.starter-template 
{
  padding: 40px 15px;
  text-align: center;
}

.navbar-inverse
{
	background-color: #2F3335;
	border-color: #080808;
}

.navbar-inverse .navbar-brand 
{
	color: #FFF;
}

.width
{
	width: 280px;
}

#homeTabContainer 
{
	background-color: #8E999F;
}

#mapsTabContainer 
{
	background-color: #BDCCD4;
}

#analysisTabContainer 
{
	background-color: #D7E0E5;
}

#partnersTabContainer 
{
	background-color: #E5EBEE;
}

#languageContainer 
{
	background-color: #FFFFFF;
}

.navbarItem
{
	border:2px solid;
	border-radius:10px;
}

.navbar-inverse .navbar-nav>li>a {
	color: #000;
	font-family: arial bold;
}


.navbar-inverse .navbar-link {
color: #000;
}

.navbar-inverse .navbar-link:hover {
color: #000;
}

.alert-success 
{
	background-color: #BDCCD4;
	border-color: #000000;
	color: #000000;
}

body 
{
  	padding-top: 50px;
  	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	padding-top: 0px;
	padding-bottom:0px;
}

.esriPopup .sizer 
{
    width: 330px;
}

.esriPopup {
    position: absolute;
    z-index: 40;
    box-shadow: 0 0 0.75em #777777;
    -moz-box-shadow: 0 0 0.75em #777777;
    -webkit-box-shadow: 0 0 0.75em #777777;
    -o-box-shadow: 0 0 0.75em #777777;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
}

.esriPopup a 
{
	color: #F15A24;
	text-decoration: underline;
}

.esriPopup .esriPopupWrapper {
    box-shadow: 0 0 0.75em #777777;
    -moz-box-shadow: 0 0 0.75em #777777;
    -webkit-box-shadow: 0 0 0.75em #777777;
    -o-box-shadow: 0 0 0.75em #777777;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
	font-size:0.9em;
}


td.first
{
	color:#000000;
	background-color:#D8D8D8;
}

a.first
{
	color: #8B0B1A; font-size:90%;
}

li.first
{
	color: #424242; font-size:85%;
}

th
{
	text-align: left;
	font-weight: normal;
	font-size:13px;
	vertical-align: middle;
	background-color: #0B0B3B;
	color:#F2F2F2;
}

h2 
{
	text-shadow:2px 2px #FFFFFF;
}

.sidebar-nav 
{
	padding: 9px 0;
}

#navbar
{
	margin-bottom: 0px;
	overflow: visible;
}

#map
{
		position:relative;
		top:0px;
        border:1px solid;
        border-radius:10px;
        border-color:#888888;	
}	

#tooltip 
{    
    display: block;
    background: transparent url(http://i.stack.imgur.com/srdeI.png) no-repeat -5px -12px;
	background-color: #2b2b2b;
    position: relative;
    padding: 0px;
    border: 1px solid gray;
}

#tabs 
{
	font-family: Verdana,Arial,sans-serif;
	height: 100%
}

#hospitalLegendList
{
	font-size: 17px;
	text-decoration:underline;
}

label 
{
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}

input 
{
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: middle;
    position: relative;
    top: -1px;
    *overflow: hidden;
}

.grayFont
{
	color:gray;
}


.blueFont
{
	color:#A9BCF5;
}

.redFont
{
	color:#FE642E;
}

.smallFont
{
	font-size: 0.8em;
}

.mediumFont
{
	font-size: 1em;
}

.smallIcon
{
	height:25px;
	width:25px;
}

#legendList 
{
	pointer-events:none;
	padding: 1em;
}

#legendTitle 
{
	pointer-events:none;
	padding: 1em;
}

.esriSimpleSliderHomeButton{
      border-bottom: 2px solid #666666;
      background-image: url(../dijit/images/home.png);
      background-repeat:no-repeat;
      background-position:center; 
    }
	
.legendColorRect
{
	width:10px;
	height:10px;
	border:1px solid #000;
}

.legendCellText
{
	border:1px solid #000;
}

.esriLargeSliderTicks 
{ 
	display: none; 
}

.hidden
{
	display: none;
}

.shown
{
	display: inline-block;
}

.legendLabel
{
	font-size: 1.2em;
	color:#000000;
}

a.methodologicalNote
{
	color:#F15A24;
	float:right;
}

div.transbox
  {
  background-color:#F2F5F6;
  border:1px solid white;
  box-shadow: 5px 5px 5px #888888;
  opacity:0.7;
  filter:alpha(opacity=70); /* For IE8 and earlier */
 }
 
