
#hospitalLegendList 
{
	font-family: arial;
	font-weight: bold;
	width: 195px;
}

#legendList 
{
	padding: 1em;
	border-color: #D8D7D7;
	border-width: 1px;
	border-radius: 5px;
	width: 195px;
}

.legendTransbox 
{
	background-color: #F2F5F6;
	border: 0px solid white;
	box-shadow: 5px 5px 5px #D1D1D1;
	opacity: 0.9;
	font-family: arial;
	border-width: 0.1em;
	border-color: rgb(196, 188, 188);
}


/** 
 * Legend Title
 */
#legendTitleDiv 
{
	color: #000000;
	font-size: 13px;
	font-family: arial;
	font-weight: bold;
	padding: 10px;
	width: 175px;
	border-bottom: solid #000000;
	border-bottom-width: 1px;
}

#hospitalTitleDiv
{
	color: #000000;
	font-size: 13px;
	font-family: arial;
	font-weight: bold;
	padding: 10px;
	width: 175px;
	border-top: solid #000000 1px;
}

/**
 * Legend Table with rectangular colours
 */
#legendTable 
{
	border-collapse: separate;
	border-spacing: 0px 3px;
	padding: 8px;
	width: 175px;
}

/** 
 * Legend Colour Rectangles. 
 */
.legendColourRectDiv
{
	width:40px;
	height:20px;
	border:1.5px solid #000;
}

